<p id="notice"><%= notice %></p>
<p id="alert"><%= alert %></p>

<%= @metric.name %>
<%= link_to 'Back', metrics_path %>

<h1>Values</h1>

<table>
  <thead>
      <tr><th colspan="3"></th></tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr><%= show_row(user) %></tr>
    <% end %>
  </tbody>
</table>

<br>