<p id="notice"><%= notice %></p>

<%= @metric.name %>
<%= link_to 'Edit', edit_metric_path(@metric) %> |
<%= link_to 'Back', metrics_path %>

<h1>Values</h1>

<table>
  <thead>
    <tr>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @metrics.each do |metric| %>
      <tr>
        <td><%= metric.name %></td>
        <td><%= link_to 'Show', metric_path(metric.id) %></td>
        <td><%= link_to 'Edit', edit_metric_path(metric.id) %></td>
        <td><%= link_to 'Destroy', metric_path(metric.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>